* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
}

html {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgb(151, 206, 183);
    background-image: linear-gradient(315deg, #8be7ca 0%, #3ded9e 74%);
}


#bdy {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #082032;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: 20px;
}

#top {
    width: 400px;
    background-color: #082032;
}

#screen {
    padding: 50px 10px 10px 10px;
    width: 400px;
    font-size: 120px;
    height: 180px;
    text-align: end;
    background-color: #232931;
    color: #4ECCA3;
    border-radius: 20px 20px 0 0;
    font-weight: 700;
}

#buttons {
    width: 400px;
    display: flex;
    background-color: #393E46;
    border-radius: 0 0 20px 20px;
}

.left {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 70px;
    height: 70px;
    font-size: 50px;
    border-radius: 50%;
    margin: 15px;
}

.del {
    font-size: 40px;
}

.dark {
    color: #4ECCA3;
    background-color: #232931;
}

.light {
    background-color: #393E46;
    color: #737983;
}

.color {
    background-color: #4ECCA3;
}

.large {
    height: 180px;
    border-radius: 50px;
}